@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="flex-column">
                <button id="ConnectToGroupButton" >Connect</button>
                <input id="GroupTextInput" type="text" value="g1"/>
                <button id="ClearCanvasButton" onclick="clearCanvas()">Clear canvas</button>
                <canvas id="MainCanvas" height="1000" width="1000"></canvas>
            </div>
        </div>
    </div>



    <script src="~/js/signalr/dist/browser/signalr.js"></script>
